*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #000000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
}

.titulo{
    color: #3f3b3b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    justify-content:right;
    text-align: justify;
    margin: 20px 80px;
}


.modelos{
    font-size: 10vh;
    text-shadow: white;
    text-align: center;
    background-image: url(imagenes/232.jpg);
    scroll-margin-top: 10px;
}

.container1{
    display: flex;
    flex-flow:row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.card1{
    background: rgb(255, 255, 255);
    width: 380px;
    height: 900px;
    margin: 10px;
    border-radius: 45px 65px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(imagenes/fondocarac.png);
}

.card1-image {
    background-color: rgb(208, 218, 218);
    width: 350px;
    height: 400px;
    margin-bottom: 5px;
    background-size: cover;
    border-radius: 15px 15px;
    justify-content: center;
    align-items: center;


}

.card1-1{
    background-image: url(imagenes/x1.png);
    background-size: cover;
}

.card1-2{
    background-image: url(imagenes/X2.jpg);
}

.card1-3{
    background-image: url(imagenes/X3.webp);
}

.card1-4{
    background-image: url(imagenes/x4.webp);

}

.card1-5{
    background-image: url(imagenes/x5.webp);
}
.card1-6{
    background-image: url(imagenes/x6.webp);
}
.card1-7{
    background-image: url(imagenes/x7.webp);
}
.card1-8{
    background-image: url(imagenes/x8.webp);
}

.card1-9{
    background-image: url(imagenes/x9);
}
.card1 h2{
    padding: 10px;
}

.card1 p{
    backdrop-filter: rgb(23, 24, 23);
    color: wheat;
    
}

.card1 a{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    justify-content: flex-end;
}

.title1{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 20px;
    font-size: 5vh;
    text-align: center;
}

table{
    background-color: aqua;
    height: 40%;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px;
}

.nav{

    display: flex;
    font-size: 150%;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.nav a {
    color: #f8f8f8;
    text-decoration:solid;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
   
   
}

.nav a:hover {
    color: #000000;

}

.caracteristicas{
    color: rgb(255, 255, 255);
    background-image: url(imagenes/fondocarac.png);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 3vh;
    margin: 20px 80px;
    text-align: justify;
    padding: 40px;
    scroll-margin-top: 10px;
}

.pie-de-pagina {
    background-color: #000000;
}


.pie-de-pagina .contenido {
    padding: 0;
    text-align: left;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.aviso__legal {
    width: 1350px;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}
.aviso__item a {
    text-decoration: none;
    color: #f8f8f8;
}

.aviso__item a:hover {
    color: #ada976;
}

.contacto__footer {
    width: 300px;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
} 

.contacto__footer a {
    text-decoration: none;
    color: #f8f8f8;
}

.contacto__footer a:hover {
    color: #ada976;
}

